.user-container {
  width: 26%;
}

.user-image {
  position: relative;
}

.user-hidden {
  display: none;
}

.user-image img {
  border-radius: 50%;
  width: 300px;
  max-height: 300px;

  position: absolute;
  margin-top: -30px;
}

.user-top {
  margin-top: 280px;
}

.user-top h3 {
  margin: 0;
  font-size: 20px;
}
.user-top h5 {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
}

.user-top button {
  width: 100%;
  padding: 6px 0;
  margin: 6px 0;
  border-radius: 4px;
  border: 1px solid rgb(216, 213, 213);
  cursor: pointer;
}

.user-top p {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.user-follow {
  display: flex;
}

.user-follow p {
  font-size: 13px;
  margin: 10px 0;
}

.user-follow p span {
  font-weight: 700;
}

.user-follow .mid {
  margin: 5px 4px;
  font-size: 15px;
  font-weight: 600;
}

.user-bottom {
  margin: 0;
  border-bottom: 1px solid rgb(216, 213, 213);
}

.user-bottom div {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.user-bottom div p {
  display: flex;
  align-items: center;
}

/* Media Queries */

@media (max-width: 1200px) {
  .user-image img {
    border-radius: 50%;
    width: 260px;
    height: 260px;
    max-width: 260px;
    max-height: 260px;
    position: absolute;
    margin-top: -10px;
  }
}

@media (max-width: 1030px) {
  .user-container {
    width: 24%;
  }

  .user-top {
    margin-top: 200px;
  }

  .user-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    margin-top: -10px;
  }
}

@media (max-width: 840px) {
  .user-container {
    width: 100%;
  }

  .user-image {
    display: none;
  }

  .user-top .user-name,
  .user-login {
    display: none;
  }

  .user-hidden {
    display: flex;
    margin: 0;
    align-items: center;
  }
  .user-hidden .hidden-image img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }

  .user-hidden .hidden-text {
    margin-left: 11px;
  }

  .user-hidden .hidden-text h3 {
    font-size: 23px;
    margin: 0;
  }

  .user-hidden .hidden-text h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
  }

  .user-top {
    margin-top: 5px;
  }
}

@media (max-width: 500px) {
  .user-hidden .hidden-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: auto;
  }
}
