.error {
  background-color: #ffcccb;
  padding: 7px 0;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
}

.error a {
  text-decoration: none;
}

@media (max-width: 550px) {
  .error {
    width: 95%;
  }
}
