.repo-style {
  width: 72%;
}

/* Top Part Of  Repositories */

/* Tab Style */
.tab {
  display: none;
}

.repo-top {
  display: flex;
  margin: 17px 0;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(216, 213, 213);
  padding-bottom: 20px;
}

.repo-input {
  width: 70%;
}

.repo-input input {
  width: 100%;
  padding: 8px 0;
  padding-left: 8px;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 5px;
  outline: none;
}

.repo-select {
  margin: 0;
  width: 26%;
  display: flex;
  justify-content: flex-end;
}

.repo-select button {
  height: 100%;
  margin: 0 2px;
  padding: 4 10px;
  border-radius: 3px;
  text-transform: capitalize;
  border: 1px solid rgb(216, 213, 213);
}

/* Bottom Part That Contains All Repositories */

.repo-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 229, 229);
  padding: 14px 0;
}

/* Left Part Of A Single Repository */

.repo-bottom .left .left-top {
  display: flex;
}

.repo-bottom .left .left-top h3 {
  margin: 0;
  font-size: 18px;
  color: blue;
}

.repo-bottom .left .left-top p {
  margin: 3px 0 0 7px;
  border: 1px solid rgb(216, 213, 213);
  padding: 1px 6px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 500;
}

.repo-bottom .left .description {
  margin: 5px 0;
  font-size: 14px;
}
.repo-bottom .left .forked-from {
  margin: 5px 0;
  font-size: 12px;
}

.repo-bottom .left .left-bottom {
  margin: 0;
  font-size: 12px;
  display: flex;
}

.repo-bottom .left .left-bottom .one {
  margin: 0;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.repo-bottom .left .left-bottom .one div {
  margin-left: 3px;
}

.repo-bottom .left .left-bottom .one .color {
  height: 13px;
  width: 13px;
  background-color: green;
  border-radius: 50%;
  margin: 0;
}

.repo-bottom .left .left-bottom .two {
  display: flex;
  align-items: center;
  padding-right: 7px;
}

/* Right Part Of A Single Repository */

.repo-bottom .right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repo-bottom .right .button1 {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 11px 10px;
  border: 1px solid rgb(216, 213, 213);
  cursor: pointer;
}

.repo-bottom .right .button2 {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 11px 10px;
  border-right: 1px solid rgb(216, 213, 213);
  border-top: 1px solid rgb(216, 213, 213);
  border-bottom: 1px solid rgb(216, 213, 213);
  border-left: none;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 840px) {
  .repo-style {
    width: 100%;
  }

  .tab {
    height: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    display: block;
  }

  .tab ul {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
  }

  .tab ul li {
    text-align: center;
    height: 100%;
    border-bottom: 1px solid red;
    font-size: 14px;
    margin: 0 10px;
    list-style: none;
  }
}
